[submodule "pack/stuff/start/base16-vim"]
	path = pack/stuff/start/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
[submodule "pack/stuff/start/vim-fugitive"]
	path = pack/stuff/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/stuff/start/ctrlp"]
	path = pack/stuff/start/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "pack/stuff/start/syntastic"]
	path = pack/stuff/start/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "pack/stuff/start/vimproc"]
	path = pack/stuff/start/vimproc
	url = https://github.com/Shougo/vimproc.git
[submodule "pack/stuff/start/vim-addon-mw-utils"]
	path = pack/stuff/start/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "pack/stuff/start/tlib_vim"]
	path = pack/stuff/start/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "pack/stuff/start/textformat.vim"]
	path = pack/stuff/start/textformat.vim
	url = https://github.com/jozip/textformat.vim.git
[submodule "pack/stuff/start/editorconfig-vim"]
	path = pack/stuff/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "pack/stuff/start/pgsql.vim"]
	path = pack/stuff/start/pgsql.vim
	url = https://github.com/exu/pgsql.vim.git
[submodule "pack/stuff/start/vim-surround"]
	path = pack/stuff/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/stuff/start/vim-sensible"]
	path = pack/stuff/start/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "pack/stuff/start/vim-prettier"]
	path = pack/stuff/start/vim-prettier
	url = https://github.com/prettier/vim-prettier.git
[submodule "pack/stuff/start/yajs.vim"]
	path = pack/stuff/start/yajs.vim
	url = https://github.com/othree/yajs.vim.git
[submodule "pack/stuff/start/webapi-vim"]
	path = pack/stuff/start/webapi-vim
	url = https://github.com/mattn/webapi-vim.git
[submodule "pack/stuff/start/scribble.vim"]
	path = pack/stuff/start/scribble.vim
	url = https://github.com/vim-scripts/scribble.vim.git
[submodule "pack/stuff/start/vim-repeat"]
	path = pack/stuff/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "pack/stuff/start/vim-sexp-mappings-for-regular-people"]
	path = pack/stuff/start/vim-sexp-mappings-for-regular-people
	url = https://github.com/tpope/vim-sexp-mappings-for-regular-people.git
[submodule "pack/stuff/start/vim-sexp"]
	path = pack/stuff/start/vim-sexp
	url = https://github.com/guns/vim-sexp.git
[submodule "pack/stuff/start/vim-racket"]
	path = pack/stuff/start/vim-racket
	url = https://github.com/wlangstroth/vim-racket.git
[submodule "pack/stuff/start/vim-airline"]
	path = pack/stuff/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "pack/stuff/start/vim-airline-themes"]
	path = pack/stuff/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "pack/stuff/start/vim-slime"]
	path = pack/stuff/start/vim-slime
	url = https://github.com/jpalardy/vim-slime.git
[submodule "pack/stuff/start/vim-rainbow"]
	path = pack/stuff/start/vim-rainbow
	url = https://github.com/frazrepo/vim-rainbow.git
